*/*Elemento para mexer na página*/
    {
    padding: 0;
    /*Mexe na distancia interna da borda*/
    margin: 0;
    /*Mexe na distancia externa da borda*/
}

body {
    /* background-color: #1a1a1a; Cor de fundo da página */
    /* background-color: #1a1a1a; Cor de fundo da página */
    background-color: #1a1a1a;
}

li a/*Elemento para mexer nos links dentro da lista*/
    {
    text-decoration: none;
    /*Tira o sublinhado*/
    font-size: 20px;
    color: #ffffff;
    /*Cor da fonte*/
    padding: 20px;


}

li/*Elemento para mexer na lista*/
    {
    list-style: none;
    /*Tira o marcador da lista*/

}

#logo {
    height: 90px;
    width: 160px;
}

ul {
    display: flex;
    /*Transforma a lista em flexbox*/
    flex-direction: row;
    /*Deixa os itens da lista em linha*/
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-img-logo {
    height: 90px;
    width: 90px;

}

.bi {
    font-size: 30px;
    color: #4c544c;
}

.banner {
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 800px;
    border-radius: 15px;
    display: flex; /*indica a propriedade flexbox*/
    align-items: center; /*alinha verticalmente ao centro*/

}

.texto-banner{
    font-size: 25px; /*tamanho da fonte*/
    color: #ffffff;
}
.btn-menu{
    width: 145px;
    height: 40px;
    border-radius: 30px;
    background-color: #333333;
    color: #ffffff; /* Cor do texto branca */
    font-weight: bold; /* Negrito */
    border: none; /* Remove a borda padrão */
    font-size: 19px;
    margin: 25px; /* espaçamento em todas as direcoes externas*/
}
.caixa-texto-banner{
  width: 220px; 
  padding: 35px; /*espaçamento interno*/

}

.section-center{
display: flex;
justify-content: center; /*muda posiçao da caixa*/

}

.titulo-primario{
    color: #ffffff;
    font-size: 40px;
    font-weight:700;
    padding: 20px;
}

.estutura-titulo{
    display: flex;
    justify-content: center;
}

.produtos {
    height: 350px;
    width: 190px;
    
}
.valor {
    
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.cores{
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}
.laranja{
    background-color: orange;
}
.preto{
    background-color: black;
}

.caixa-cores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.texto-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-xbox {
    background-image: url("./assets/x-box.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1250px;
    display: flex;
    justify-content: flex-end; /*alinha verticalmente ao centro*/
    
}

.texto-xbox{
    color: #ffffff;
    font-size: 40px;
    width: 500px;
  }

.caixa-banner-xbox{
    width: 500px; 
    padding: 35px 150px; /*espaçamento interno*/  
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}
.btn-menu-xbox{
    width: 140px;
    height: 25px;
    border-radius: 30px;
    background-color: #341a10;
    color: #ffffff; /* Cor do texto branca */
    border: none; /* Remove a borda padrão */
    font-size: 17px;
    margin: 25px; /* espaçamento em todas as direcoes externas*/
}
